html, body, #root {
  height:100%;
  width: 100%;
  padding: 0;
  background-color: rgb(48, 48, 48);
}

.custom-height-85 {
  height: 90%;
}

.custom-height-15 {
  height: 10%;
}

.playerAway {
  background-color: rgb(78, 31, 31);
}
.playerHome {
  background-color: rgb(24, 24, 59);
}

.time_out {
  color: rgb(255, 242, 126);
  font-size: 4rem; /* Zwiększenie rozmiaru czcionki */
    background-color: rgba(255, 0, 0, 0.5); /* Przezroczyste czerwone tło */
    border: 5px solid #FF0000; /* Czerwona ramka */
    padding: 20px; /* Dodanie odstępu wewnętrznego */
    border-radius: 10px; /* Zaokrąglone rogi ramki */
}